@model DoAnQuanLyQuangCaoDiaPhimCaNhac.Models.LoaiDia

<h2 class="text-white">➕ Thêm Thể Loại</h2>

@using (Html.BeginForm())
{
    <div class="form-group text-white">
        <label>Tên Thể Loại</label>
        @Html.TextBoxFor(m => m.TenLoaiDia, new { @class = "form-control" })
    </div>

    <button class="btn btn-success mt-3">Lưu</button>
    <a href="~/Category" class="btn btn-secondary mt-3">Hủy</a>
}
